@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

body::-webkit-scrollbar {
  background-color: #fff;
  width: 14px; }

body::-webkit-scrollbar-track {
  background-color: #fff; }

body::-webkit-scrollbar-thumb {
  background: #BDF079;
  border-radius: 16px;
  border: 3.7px solid #fff; }

body::-webkit-scrollbar-button {
  display: none; }

:focus {
  outline: none; }

button {
  cursor: pointer; }

a {
  padding: 0;
  margin: 0;
  text-decoration: none; }

p {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

ul, ol {
  padding: 0;
  margin: 0; }

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0 !important; }

.header {
  width: 100%;
  height: 147px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); }

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 37px;
  background: #BDEF7C; }

.header__top_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #2B2A29; }
  .header__map svg {
    margin-right: 10px; }

.header__call .link_call {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  color: #2B2A29;
  border-bottom: 1px dashed #2B2A29; }

.header__top_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__top_center .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2B2A29; }
    .header__top_center .email svg {
      margin-right: 9px; }
  .header__top_center .whatsapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #2B2A29;
    margin: 0 55px 0 41px; }
    .header__top_center .whatsapp svg {
      margin-right: 5px; }
  .header__top_center .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #2B2A29;
    position: relative;
    cursor: pointer; }
    .header__top_center .phone span {
      margin-left: 5px;
      margin-right: 10px; }
    .header__top_center .phone .phone__sub {
      display: none;
      width: 200px;
      background: #E1E1E1;
      -webkit-box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.25);
      position: absolute;
      top: 30px;
      left: 0;
      z-index: 1;
      padding-top: 8px;
      padding-bottom: 10px; }
      .header__top_center .phone .phone__sub a {
        display: block;
        font-family: 'Fira Sans Condensed', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #2B2A29;
        padding: 4px 20px 4px 24px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .header__top_center .phone .phone__sub a:hover {
        color: #477304; }
  .header__top_center .phone:hover .phone__sub {
    display: block; }

.header__bottom {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__bottom_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  width: 217px;
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .header__logo img {
    width: 100%; }

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: auto; }
  .header__navbar .li {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 26px;
    position: relative; }
    .header__navbar .li .sub_menu {
      height: 0;
      overflow: hidden;
      width: 269px;
      max-width: 269px;
      background: #E1E1E1;
      -webkit-box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.25);
      position: absolute;
      top: 40px;
      left: -20px; }
      .header__navbar .li .sub_menu a {
        display: block;
        font-family: 'Fira Sans Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #2B2A29;
        padding: 4px 30px 4px 28px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .header__navbar .li .sub_menu a:hover {
        color: #477304; }
      .header__navbar .li .sub_menu a:nth-child(1) {
        padding-top: 28px; }
      .header__navbar .li .sub_menu a:last-child {
        padding-bottom: 35px; }
    .header__navbar .li .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #2B2A29;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .header__navbar .li .item svg {
        margin-left: 17px; }
    .header__navbar .li .item.active {
      color: #477304; }
    .header__navbar .li .item:hover {
      color: #477304; }
      .header__navbar .li .item:hover svg path {
        fill: #477304; }
  .header__navbar .li:hover .sub_menu {
    height: auto; }
  .header__navbar .li:nth-child(1) {
    margin-left: 0; }

.main {
  padding-top: 147px;
  min-height: 74vh; }

.banner .slick-next {
  width: 38px;
  height: 38px;
  right: 17px;
  z-index: 9;
  background: rgba(255, 255, 255, 0.4); }

.banner .slick-prev {
  width: 38px;
  height: 38px;
  z-index: 9;
  background: rgba(255, 255, 255, 0.4);
  left: 17px; }

.banner .slick-next:hover, .banner .slick-prev:hover {
  background: #BDEF7C; }

.banner .slick-next::after {
  content: "";
  width: 12px;
  height: 12px;
  border: 2px solid #000;
  position: absolute;
  top: 50%;
  left: 44%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  border-left: 0;
  border-bottom: 0; }

.banner .slick-prev::after {
  content: "";
  width: 12px;
  height: 12px;
  border: 2px solid #000;
  position: absolute;
  top: 50%;
  left: 56%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  border-right: 0;
  border-top: 0; }

.banner .slick-next::before, .banner .slick-prev::before {
  display: none; }

.banner .slick-dots {
  bottom: 30px; }
  .banner .slick-dots li {
    width: 16px;
    height: 16px;
    background: #E5E5E5;
    border-radius: 50%;
    margin: 0 6px; }
    .banner .slick-dots li button {
      display: none; }
  .banner .slick-dots li.slick-active {
    background: #BDEF7C; }

.banner__block {
  height: 510px;
  position: relative;
  overflow: hidden; }
  .banner__block .img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .banner__block .img img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .banner__block .img::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%); }
  .banner__block .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-bottom: 100px; }
    .banner__block .content .container {
      padding-left: 40px !important; }
    .banner__block .content .title {
      max-width: 734px;
      width: 100%;
      font-weight: 600;
      font-size: 48px;
      line-height: 52px;
      color: #FFFFFF;
      margin-bottom: 24px; }
    .banner__block .content p {
      max-width: 700px;
      width: 100%;
      font-family: 'Fira Sans Condensed', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      color: #FFFFFF; }

.services {
  padding-top: 60px;
  padding-bottom: 67px; }

.services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.services__item {
  width: 255px; }
  .services__item .block {
    width: 150px;
    height: 150px;
    background: #E2E8EB;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 28px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .services__item .block img {
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .services__item .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #2B2A29;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.services__item:hover .block {
  background: #BDEF7C; }
  .services__item:hover .block img {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02); }

.services__item:hover .title {
  color: #477304; }

.site_content {
  padding-bottom: 110px; }
  .site_content .h1 {
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: #2B2A29;
    margin-bottom: 50px; }
  .site_content .h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2B2A29;
    margin-bottom: 40px; }
  .site_content .h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #2B2A29;
    margin-bottom: 40px; }
  .site_content .h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #2B2A29;
    margin-bottom: 40px; }

.site_content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px; }
  .site_content__box .left {
    width: 607px;
    padding-right: 67px; }
    .site_content__box .left p {
      font-family: 'Fira Sans Condensed', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #5B5B5B;
      margin-bottom: 40px; }
  .site_content__box .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 607px);
    position: relative; }
    .site_content__box .right .img {
      width: 296px;
      height: auto; }
      .site_content__box .right .img img {
        width: 100%; }
    .site_content__box .right .img2 {
      width: 178px;
      margin-top: 40px; }
      .site_content__box .right .img2 img {
        width: 100%; }
    .site_content__box .right .img3 {
      width: 160px;
      position: absolute;
      left: 216px;
      top: 216px; }
      .site_content__box .right .img3 img {
        width: 100%; }

.footer__line {
  width: 100%;
  height: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer__line span {
    display: block;
    width: 25%;
    height: 5px; }
  .footer__line .color1 {
    background: #00A0E3; }
  .footer__line .color2 {
    background: #E5097F; }
  .footer__line .color3 {
    background: #FFED00; }
  .footer__line .color4 {
    background: #2B2A29; }

.footer {
  background: #BDF079; }

.footer__top {
  padding-top: 30px;
  padding-bottom: 26px; }

.footer__top_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer__logo {
  width: 217px;
  height: 88px; }

.footer__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #2B2A29; }
  .footer__map svg {
    margin-right: 9px; }

.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 177px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #2B2A29; }
  .footer__email svg {
    margin-right: 10px; }

.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #2B2A29;
  cursor: pointer;
  position: relative; }
  .footer__phone span {
    margin-left: 5px;
    margin-right: 10px; }
  .footer__phone .phone__sub {
    display: none;
    width: 200px;
    background: #E1E1E1;
    -webkit-box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
    padding-top: 8px;
    padding-bottom: 10px; }
    .footer__phone .phone__sub a {
      display: block;
      font-family: 'Fira Sans Condensed', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #2B2A29;
      padding: 4px 20px 4px 24px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .footer__phone .phone__sub a:hover {
      color: #477304; }

.footer__phone:hover .phone__sub {
  display: block; }

.footer__bottom {
  border-top: 1px solid #A5D762;
  padding-top: 20px;
  padding-bottom: 22px; }

.footer__bottom_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer__bottom_box .left {
    max-width: 634px;
    width: 100%; }
    .footer__bottom_box .left .copy {
      font-family: 'Fira Sans Condensed', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #2B2A29;
      margin-bottom: 10px; }
      .footer__bottom_box .left .copy a {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #477304;
        margin-left: 16px; }
    .footer__bottom_box .left .text {
      font-family: 'Fira Sans Condensed';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #2B2A29; }
      .footer__bottom_box .left .text a {
        font-family: 'Fira Sans Condensed', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #477304; }
  .footer__bottom_box .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto; }
    .footer__bottom_box .right a {
      display: block;
      font-family: 'Fira Sans Condensed', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #2B2A29;
      margin: 4px 0; }
    .footer__bottom_box .right a:hover {
      text-decoration: underline; }
    .footer__bottom_box .right img {
      margin-left: 22px; }
